<h3>1 : Simple routing</h3>

<ul>
  <li><a routerLink="blog">Blog</a></li>
  <li><a routerLink="article">Article</a></li>
</ul>

<h3>2 : Routing in module components</h3>
<ul>
  <li><a routerLink="login">User login</a></li>
  <li><a routerLink="signup">User signup</a></li>
</ul>

<h3>3 : Routing in modules wise and group routing</h3>
<ul>
  <li><a routerLink="admin/login">Admin Login</a></li>
  <li><a routerLink="admin/list">Admin List</a></li>
</ul>
<ul>
  <li><a routerLink="employee/login">Employee Login</a></li>
  <li><a routerLink="employee/list">Employee List</a></li>
</ul>

<h3>4 : Lazy Loading</h3>
<ul>
  <li><a routerLink="student/login">Student Login</a></li>
  <li><a routerLink="student/list">Student List</a></li>
</ul>
<ul>
  <li><a routerLink="teacher/login">Teacher Login</a></li>
  <li><a routerLink="teacher/list">Teacher List</a></li>
</ul>

<h3>5 : Lazy loading Component</h3>

<button (click)="adminList()">Admin list</button>
<button (click)="userList()">User list</button><br>

<h3>6 : Template Driven Form</h3>


<form #simpleForm="ngForm" (ngSubmit)="formValues(simpleForm.value)">
  <input type="text" #username="ngModel" ngModel placeholder="Enter username" name="username" required><br><span
    *ngIf='username.invalid && username.touched' class="error">Name is required</span><br>
  <input type="password" #password='ngModel' ngModel placeholder="Enter password" name="password" required><br><span
    class="error" *ngIf="password.invalid && password.touched">Passowrd is required</span><br>
  <select name="gender" id="" ngModel required #gender="ngModel">
    <option disabled selected value="">Select gender</option>
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select>
  <span class="error" *ngIf="gender.invalid && gender.touched">Please select gender</span>
  <br><br>
  <button [disabled]='simpleForm.invalid'>Login</button>
</form>

<h3>7 : Reactive Form</h3>
<form [formGroup]="loginForm" (ngSubmit)="login()">
  <input type="text" placeholder="Enter username" formControlName="username"><br>
  <span class="error" *ngIf='name?.hasError("required") && name?.touched'>Name is required</span>
  <span class="error" *ngIf='name?.hasError("maxlength") && name?.touched'>You can enter only 20 characters</span>
  <br>
  <input type="password" placeholder="Enter password" formControlName="password"><br>
  <span class="error" *ngIf='userpassword?.hasError("required") && userpassword?.touched'>Password is required</span>
  <span class="error" *ngIf='userpassword?.hasError("minlength") && userpassword?.touched'>Please enter minimum 3
    characters</span>
  <br>
  <button [disabled]='loginForm.invalid'>login</button>
</form>

<h3>8 : One and Two way binding</h3>

<input type="text" [ngModel]='oneWayName'><br><br>
<input type="text" [(ngModel)]='oneWayName'><br>

<p>{{oneWayName}}</p>


<h3>9 : [ngClass] , [ngStyle]</h3>
<input type="text" [ngClass]="{'error-input' : isError , 'error-success' : !isError}"><br><br>
<input type="text" name="" id="" [ngClass]="isError? 'error-input' : 'error-success'">
<br><br>
<div [ngClass]="divColorChange">
  hello
</div>
<br>
<button (click)="addBlue()">add blue</button><br><br>
<button (click)="addRed()">add red</button>

<h3 [ngStyle]="{'font-size' : bigFont? '40px' : '16px' ,'color' : bigFont? 'red' : 'green'}">
  Sumair ul haq
</h3>













<router-outlet></router-outlet>